:root {
  --light: #fbf6da;
  --dark: #17100c;
}

* {
  box-sizing: border-box;
  font-weight: lighter;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  background: var(--light);
  color: var(--dark);
  font-family: Garamond, Georgia, 'Times New Roman', Times, serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 5px;
  text-transform: uppercase;
}

p {
  line-height: 1.25;
  margin: 1em 0;
}

.header,
.container {
  margin: auto;
  max-width: 80ch;
  padding: 1em;
}

.header {
  text-align: center;
}

.header__logo {
  color: var(--dark);
  font-size: 2.5em;
  letter-spacing: 10px;
  text-decoration: none;
  text-transform: uppercase;
}

.post-listing {
  list-style: none;
}

.post-listing__date {
  font-family: 'Courier New', Courier, monospace;
}

.post-header {
  background: var(--dark);
  color: var(--light);
  font-size: 1.5em;
  padding: 1em;
  text-align: center;
}

.speck {
  position: absolute;
  height: 1px;
  opacity: 0.75;
  width: 1px;
}

.speck--light {
  background: var(--light);
}

.speck--dark {
  background: var(--dark);
}
