<html>

<head>
  <title>kirje</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/style.css">
  <link type="application/atom+xml" rel="alternate" href="https://kir.je/rss.xml" title="kir.je" />
</head>

<body>
  <header class="header">
    <a class="header__logo" href="/">kirje</a>
  </header>

  {{ contents }}

  <script src="/assets/main.js"></script>
</body>

</html>
